<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script th:src="@{/js/index.js}" type="text/javascript"></script>
</head>
<body>
<span th:text="${msg}"></span>
<a th:href="@{/test/forward}">А что дальше?</a>
</br>
<form th:action="@{/test/postForm}" method="post">
    <input type="text" name="name"/>
    </br>
    <input type="text" name="age"/>
    </br>
    <button type="submit">Отправить</button>
</form>
</br>
<div id="hello"></div>
<button onclick="hello()">Say hello</button>
</body>
</html>